<section class="hero-section">
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/contacts-hero-image.png" class="img-fluid">
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <div>
                <h2 class="main-heading text-primary">Contacts App</h2>
                <p class="lead">A simple contact management app built with Angular 14 and ASP.NET Core.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                    <a class="btn btn-secondary btn-lg ms-2" href="/register" role="button">Register</a>
                </p>
            </div>
        </div>
    </div>
</section>